In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tr=pd.read_csv('train.csv')

In [3]:
#tr.info()
tr.shape

(2000, 21)

In [4]:
te=pd.read_csv('test.csv')

In [5]:
#te.info()
te.shape

(1000, 21)

In [6]:
### Merging two csv files

In [7]:
df=pd.concat([tr,te], ignore_index=True)
df.shape

(3000, 22)

In [8]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1.0,NaN
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2.0,NaN
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2.0,NaN
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2.0,NaN
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1.0,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  3000 non-null   int64
 1   blue           3000 non-null   int64
 2   clock_speed    3000 non-null   float64
 3   dual_sim       3000 non-null   int64
 4   fc             3000 non-null   int64
 5   four_g         3000 non-null   int64
 6   int_memory     3000 non-null   int64
 7   m_dep          3000 non-null   float64
 8   mobile_wt      3000 non-null   int64
 9   n_cores        3000 non-null   int64
 10  pc             3000 non-null   int64
 11  px_height      3000 non-null   int64
 12  px_width       3000 non-null   int64
 13  ram            3000 non-null   int64
 14  sc_h           3000 non-null   int64
 15  sc_w           3000 non-null   int64
 16  talk_time      3000 non-null   int64
 17  three_g        3000 non-null   int64
 18  touch_screen   3000 non-null   int64
 19  wifi           3000 non-null   int64
 20  price_range    2000 non-null   float64
 21  id             1000 non-null   float64
dtypes: float64(4), int64(18)
memory usage: 515.8 KB

In [10]:
df.shape

(3000, 22)

In [11]:
df.isna().sum()

battery_power       0
blue                0
clock_speed         0
dual_sim            0
fc                  0
four_g              0
int_memory          0
m_dep               0
mobile_wt           0
n_cores             0
pc                  0
px_height           0
px_width            0
ram                 0
sc_h                0
sc_w                0
talk_time           0
three_g             0
touch_screen        0
wifi                0
price_range      1000
id               2000
dtype: int64

In [12]:
df=df.fillna(df.mean())

In [13]:
df.isna().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
id               0
dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor

In [20]:
x=df.drop(columns=['price_range'])
y=df["price_range"]

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [22]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((2100, 21), (2100,), (900, 21), (900,))

In [24]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [30]:
train_pred=model.predict(x_train)

In [31]:
print('MAE:',mean_absolute_error(y_train,train_pred))
print('R2:',r2_score(y_train,train_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_train,train_pred)))

MAE: 0.4764109413285827
R2: 0.6110879727009007
RMSE: 0.690225283026189

In [33]:
test_pred=model.predict(x_test)

In [34]:
print('MAE:',mean_absolute_error(y_test,test_pred))
print('R2:',r2_score(y_test,test_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_test,test_pred)))

MAE: 0.46884185029885267
R2: 0.6189735015788154
RMSE: 0.6847202715699694

In [36]:
### DT

In [37]:
model_dt=DecisionTreeRegressor(max_depth=5)
model_dt.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=5)

In [38]:
dt_train_pred=model_dt.predict(x_train)

In [39]:
print('MAE:',mean_absolute_error(y_train,dt_train_pred))
print('R2:',r2_score(y_train,dt_train_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_train,dt_train_pred)))

MAE: 0.2041488277620191
R2: 0.8687677733445367
RMSE: 0.45182831668900425

In [40]:
dt_test_pred=model_dt.predict(x_test)

In [41]:
print('MAE:',mean_absolute_error(y_test,dt_test_pred))
print('R2:',r2_score(y_test,dt_test_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_test,dt_test_pred)))

MAE: 0.22285448865395638
R2: 0.842985553000138
RMSE: 0.4720746642788155

In [42]:
### RF

In [44]:
model_rf=RandomForestRegressor(n_estimators=50)
model_rf.fit(x_train,y_train)

RandomForestRegressor(n_estimators=50)

In [45]:
rf_train_pred=model_rf.predict(x_train)

In [46]:
print('MAE:',mean_absolute_error(y_train,rf_train_pred))
print('R2:',r2_score(y_train,rf_train_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_train,rf_train_pred)))

MAE: 0.04552857142857144
R2: 0.9904265204659681
RMSE: 0.21337425202814758

In [47]:
rf_test_pred=model_rf.predict(x_test)

In [48]:
print('MAE:',mean_absolute_error(y_test,rf_test_pred))
print('R2:',r2_score(y_test,rf_test_pred))
print('RMSE:',np.sqrt(mean_absolute_error(y_test,rf_test_pred)))

MAE: 0.13092222222222222
R2: 0.9225700471962897
RMSE: 0.3618317595543849

In [49]:
###AdaBoostRegressor

In [51]:
model_ad=AdaBoostRegressor()
model_ad.fit(x_train,y_train)

AdaBoostRegressor()

In [52]:
ad_train_pred=model_ad.predict(x_train)

In [53]:
print('MAE:',mean_absolute_error(y_train,ad_train_pred))
print('R2:',r2_score(y_train,ad_train_pred)*100)
print('RMSE:',np.sqrt(mean_absolute_error(y_train,ad_train_pred)))

MAE: 0.4445360249843934
R2: 70.67618525056541
RMSE: 0.6667353485337292

In [54]:
ad_test_pred=model_ad.predict(x_test)

In [55]:
print('MAE:',mean_absolute_error(y_test,ad_test_pred))
print('R2:',r2_score(y_test,ad_test_pred)*100)
print('RMSE:',np.sqrt(mean_absolute_error(y_test,ad_test_pred)))

MAE: 0.4415339843218674
R2: 71.15317622793162
RMSE: 0.6644802362161477